<!DOCTYPE html>
<html>
  <head>
    <title>Rule VM</title>
      <meta http-equiv="refresh" content="5" />
  </head>
  <body>
  <h1>
      Rule VM dashboard
  </h1>
  <div>
      <h5>Number of running tasks:</h5> {{data["runningTasks"]}}
      <h5>Number of tasks for future:</h5> {{data["futureTaskCount"]}}
  </div>
    <div>
        <h3>List of rules in the VM</h3>
        <ul>
        {% for x in data["listOfRules"] %}
            <li id="name">{{ x }}</li>
        {% endfor %}
        </ul>
    </div>

  <h3>Future Scheduled tasks:</h3>
        <ul>
        {% for x in data["futureTasks"] %}
            <li id="future_tasks">{{ x }}</li>
        {% endfor %}
        </ul>
  <div>

  </div>
  </body>
</html>